body {
  background-color: lightblue;
	font-family: Arial;
}

h1 {
  color: navy;
  margin-left: 20px;
}
.header {
  background-color: #3886ff ;
  padding: 10px ;
  border: 1px solid blue ;
} 
#logo {

max-width: 350px;
max-height: 35050px;
}
.profile {
	h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
}